/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}

/* ENTIRE PAGE FOR NOW */
#CardSection{
    border: 1px solid red;
    width: 100%;
    padding: 1vmax;
}

/* enitre Card */
#Card{
    height: 40vh;
    border: 1px solid green;
    display: flex;
}

/* MAIN CONTAINER holds the entire image  */
#imageContainer{
    border: 1px solid green;
    width: 30%;
    /* padding: 1vmin; */
}

/* MAIN CONTAINER holds the entire text  */
#textContainer{
    border: 1px solid green;
    width: 70%;
    padding: 1vw;
}

/* image */
#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* holds location and google map link */
#locationContainer{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

/* holds title and date container */
#titleContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    height: 30%;
}

/* description container */
#descriptionContainer{
    border: 1px solid green;
    height: 50%;
}